/****** Script for SelectTopNRows command from SSMS  ******/
-- Wipedrive queries
SELECT *
FROM DiskOperationLog

select *
from HardDisk

select *
from Computer

-- SecureWipe queries
select *
from DiskOperationLog

--insert into [SecureWipe].[dbo].[DiskOperationLog]
--VALUES (1,'MJ123456','dxr5354','2018-03-19 11:39:47.000','2018-03-19 11:49:47.000','DOD Wipe',7,1,0,1,'Sdelete',111122223333)